.header {
  margin: 0 2.5rem;
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  display: block;
  color: white;
}

a > span:hover {
  color: #F5C518;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .headerLeft {
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  a {
    margin: 7px auto;
  }
}